@import "_global";
@import "_media";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}
//////////////////////////////////////////////////////////////
html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: $font-style;
  object-fit: hidden;
}
//////////////////////////////////
._container {
  max-width: 100%;
  width: 1045px;
  margin: 0 auto;
  box-sizing: content-box;
}
.space {
  margin: 80px 0;
}

////////////////////////////////
//header section

.header {
  &__container {
    max-width: 100%;
  }
  &__menu {
    height: 104px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: $text-color;
    text-align: left;
    padding-right: 96px;
    margin-right: 36px;
  }

  &__list {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $second-text-color;
    font-family: $font-style;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-style: 14px;
  }
  &__img {
    img {
      position: absolute;
      width: 100%;
      height: 924px;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
///////////////////////main/////////////////////////
.main {
  position: relative;
  margin-top: 80px;

  .page-block {
    &__body > *:not(:last-child) {
      margin-bottom: 35px;
    }
    &__title {
      font-size: 58px;
      max-width: 50%;
      line-height: calc(80 / 58 * 100%);
      font-weight: 700;
      letter-spacing: 0.2px;
    }

    &__subtitle {
      max-width: 374px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2px;

      line-height: calc(30 / 20 * 100%);
      color: #737373;
    }

    &__buttons {
      max-width: 354px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: calc(28 / 14 * 100%);
    }

    &__button {
      padding: 10px 36px;
      background: $button-color;
      color: white;
      border-radius: 100px;
      font-weight: bold;
      letter-spacing: 0.2px;
      min-height: 48px;

      &_border {
        background: none;
        border: 2px solid #0d5c63;
        color: #0d5c63;
      }
    }
  }
}
//////////////////////////////////////////////////////
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 167px;
}
.services__item {
  max-width: 100%;
  width: 328px;
  height: 100%;
  height: 242px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.1);
  padding: 35px 40px;
}
.services__item:not(:last-child) {
  background: #ffffff;
}
.services__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.services__item-checker {
  background: #0d5c63;
  color: #fff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.1);
}
.serivces__title {
  @include services-title();
}
.services__description {
  @include regular-text();
}
//////////////////////////////////////////////////
.advantages {
  &__container {
    max-height: 100%;
    height: 366px;
  }

  &__body {
    margin-top: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    padding: 30px 40px;
    background: #fff;
    text-align: center;
    max-width: 100%;
    width: 230px;
  }
  &__item > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &__icon {
    width: 48px;
    height: 48px;
  }

  &__counter {
    @include main-title();
  }

  &__title {
    @include regular-text();
    font-weight: 700;
  }
}
////////////
.header-top {
  text-align: center;
  &__title {
    @include main-title();
    margin-bottom: 10px;
  }

  &__sub-title {
    display: inline-block;
    @include regular-text();
    max-width: 100%;
    width: 511px;
  }
}
//////////////////////////////@at-root
.advices__container {
  padding: 45px 0;
}
.advices {
  &__body {
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 100%;
    width: 240px;
    max-height: 100%;

    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    padding: 30px;
  }

  &__title {
    @include second-title();
    margin-bottom: 15px;
  }

  &__sub-title {
    @include regular-text();
    max-height: 100%;
    height: 60px;
  }

  &__img {
    max-width: 100%;
    width: 230px;
    height: 138px;
  }
}

.about__header {
  margin-bottom: 100px;
}

.about {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item-video {
    max-width: 100%;
    width: 597px;
  }

  &__item-content {
    max-width: 100%;
    width: 333px;
  }
}
.content {
  margin-bottom: 100px;
  &__container {
    padding: 20px 0;
  }
  &__title {
    @include main-title();
  }

  &__sub-title {
    @include regular-text();
  }
}
.items {
  &__list-first {
    margin: 30px 0;
  }
  &__list {
    display: flex;
  }
  &__item-icon {
    margin-right: 20px;
  }

  &__content {
  }

  &__text {
    @include second-title();
  }

  &__sub-text {
    @include regular-text();
  }
}

//clients page//

.clients {
  margin-top: 36px;
  &__container {
  }

  &__body {
    padding: 50px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    flex: 0 1 16%;
    text-align: center;
  }
}

//page subscibe

.subscibe {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 77px;
    background: #252b42;
    z-index: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__body {
    z-index: 9;
    max-width: 100%;
    widows: 986px;
    background: #17213c;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include services-title();
    color: white;
  }

  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  &__input {
    max-width: 450px;
    width: 100%;
    min-height: 58px;
    border-radius: 5px 0 0px 5px;
    background-color: #f9f9f9;
    padding: 15px 20px;
  }

  &__btn {
    max-width: 117px;
    width: 100%;
    max-height: 100%;
    height: 58px;
    background: #ff7b47;
    color: white;
    border-radius: 0px 5px 5px 0;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////@at-root

.contact {
  margin-bottom: 68px;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 393px;
    max-height: 100%;
  }

  &__item {
    height: 333px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: white;
    align-items: center;
    padding: 50px 40px;
  }
  &__item > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.item-contact {
  transition: 200ms ease-in-out;

  &:hover {
    background: #252b42;

    color: white;
    height: 100%;
    height: 393px;
    transition: 200ms ease-in-out;
  }
  &__icon {
  }

  &__emails {
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    font-weight: 600;
    letter-spacing: 0.2px;
  }

  &__link {
  }

  &__label {
    @include second-title();
  }

  &__button {
    color: #ff7b47;
    padding: 10px 20px;
    border: 2px solid #ff7b47;
    border-radius: 5px;
    max-width: 165px;
    width: 100%;
    max-height: 44px;
    height: 100%;
    @include regular-text();
    font-weight: 600;
  }
}
